#filters {
    width: 17%;
    position: sticky;
    align-self: flex-start;
    top: -320px;
    left: 0;
    background-color: #ffffff;
    z-index: 4;
}

#filters > h3 {
    padding: 0 0 0.85rem  1.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #e9e9ed;
}

#filters > div {
    padding: 0.85rem 0 0.85rem 1.5rem;
    border-bottom: 1px solid #e9e9ed ;
    border-right: 1px solid #e9e9ed;
}

#filters > div > h3 {
    margin-bottom: 0.85rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
}

.radio-select {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.radio-select:last-of-type {
    margin-bottom: 0;
}

.radio-select > input {
    margin-right: 0.5rem;
    transform: scale(1.25);
}

.radio-select > label {
    font-size: 0.85rem;
    color: #282c3f;
    text-transform: capitalize;
}

.radio-select > label > span {
    font-size: 0.7rem;
    color: #94969f;
}

.more-btn {
    width: 100%;
    padding-left: 1rem;
    margin-top: 0.7rem;
    color: #ff3f6c;
    font-size: 0.9rem;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    #filters {
        width: 20%;
    }
}

@media screen and (max-width: 900px) {
    #filters {
        width: 28%;
    }
}

@media screen and (max-width: 750px) {
    #filters {
        width: 40%;
    }
}

@media screen and (max-width: 650px) {
    #filters {
        width: 50%;
    }
}